@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.home-background {
    background-size: cover;
    background-position: center;
    height: 100vh; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wiki-race-image {
    width: 230px; 
    position: relative;
    top: -200px;
    left: 50%; 
    transform: translateX(-50%); 
}  

.stima-image {
    width: 300px;
    position: relative;
    top: -270px; 
    left: -670px; 
}  

.goblocks-image {
    width: 300px; 
    position: relative;
    top: -250px;
    right: -420px; 
}  

.start-image {
    width: 150px; 
    position: absolute;
    top: 240px; 
    left: 500px; 
} 

.end-image {
    width: 100px; 
    position: absolute;
    top: 240px; 
    right: 780px;
} 

.search-image {
    width: 190px; 
    position: absolute;
    top: 235px; 
    right: 450px; 
} 

.switch-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 280px;
    left: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive;
}

.switch-button img {
    width: 100%;
    height: 80%;
}

.piston-button {
    background: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 280px;
    right: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(169, 0, 0);
    font-size: 18px;
    transition: box-shadow 0.3s ease;
}

.piston-button img {
    width: 180%;
    height: 80%;
}

.bfs-text {
    width: 120px; 
    position: absolute;
    top: 300px; 
    left: 250px; 
} 

.ids-text {
    width: 120px; 
    position: absolute;
    top: 450px; 
    left: 250px; 
} 

.nav {
    display: flex;
    position: fixed; 
    font-family: 'Pacifico', cursive;
    top: 0; 
    width: 100%;
    left: 0;
    background-color :#841a1e;
    color: rgb(234, 216, 101);
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1rem;
    font-size: 1.5rem; 
    z-index: 1000; 
}

/* Daftar dalam Navbar */
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* Link dalam Navbar */
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

/* Warna saat item aktif atau di-hover */
.nav li:hover {
    background-color: #bab1b1;
}
.nav li.active {
    background-color: #eeeeee;
}

body {
    background-image: url('assets/background.png');
    background-size: cover;
    background-position: center;
}

html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 110vh;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
}

.-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
}

.max-width-container {
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
}

.information-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.button-container {
    background: linear-gradient(to bottom, #a81e23, #841a1e);
    padding: 120px;
    width: 700px;
    height: 70px;
    border-radius: 8px;
    top: 360px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
        inset 0 0 0 15px #841a1e,
        inset 0 0 0 20px rgba(225, 155, 4, 0.946);
}

/* mcqueen-button */
.mcqueen-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 280px;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive;
}

.mcqueen-button img {
    width: 200%;
    height: 200%;
}

/* cruz-button */
.cruz-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 80px;
    position: absolute;
    top: 450px;
    left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: ci;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive;
}

.cruz-button img {
    width: 200%;
    height: 200%;
}

.button-page-container {
    position: relative;
}

.logic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.start-container {
    position: absolute;
    top: 33%;
    left: 365px;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 40px;
    border-radius: 15px; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1rem;
    text-align: center; 
    z-index: 1; 
}

.end-container {
    position: absolute;
    top: 33%;
    left: 565px;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 40px;
    border-radius: 15px; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1rem;
    text-align: center; 
}

.search-container {
    position: absolute;
    top: 33%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.result-container {
    background: linear-gradient(to bottom, #e1dadb, #fefcfc);
    padding: 300px;
    width: 35%;
    z-index: -10;
    max-height: 80px;
    border-radius: 8px;
    margin-top: 170px;
    margin-left: 180px;
    margin-right: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
        inset 0 0 0 5px #ffef76,
        inset 0 0 0 10px rgba(146, 17, 17, 0.9);
    color: white; 
    font-family: 'Comic Sans MS', sans-serif; 
    font-size: 16px; 
}

/* Page How To Use */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.step-container {
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 5rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    position: absolute;
    top: 230px;
    right: 300px; 
    width: auto;
}

.step {
    max-width: 200%; 
    height: auto; 
}

.sally-image {
    position: relative;
    top: 300px;
    left: -150px;
    width: 400px;
    height: auto;
}

.how-to-use-title {
    position: relative;
    top: -230px;
    left: 700px;
    height: 90px;
    width: auto;
}

/* Page About Us */
.about-us-title {
    position: relative;
    top: -350px;
    left: 500px;
    height: 90px;
    width: auto;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
    margin-top: -350px;
    left: 600px;
    font-family: "Comic Sans MS", cursive;
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #e9ebec;
}

.intro p {
    font-size: 1.1rem; 
    color: #860e0e; 
    max-width: 1200px; 
    margin: 0 auto; 
    line-height: 1.5; 
}

.team-image {
    width: 1000px; 
    position: relative;
    top: 470px; 
    left: 290px; 
    transform: translateX(-50%); 
}  

.mater-image {
    width: 200px; 
    position: relative;
    top: -300px; 
    left: 400px; 
}  

.text-container {
    max-width: 1200px; 
    margin: 1rem auto; 
    padding: 1rem; 
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.text-container p {
    text-align: justify; 
    line-height: 1.5; 
}

.suggestions-list {
    position: absolute;
    top: 100%; 
    left: 214px; 
    width: 100%; 
    background: white; 
    border: 1px solid #ccc; 
    border-radius: 15px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 100; 
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.suggestions-list li {
    padding: 8px 12px; 
    display: flex;
    align-items: center;
    cursor: pointer; 
    background-color: white;
    border-radius: 15px; 
}

.suggestions-list li img {
    width: 32px; 
    height: 32px;
    border-radius: 50%; 
    margin-right: 10px; 
    background-color: lightgray;
}

.suggestions-list li span {
    flex: 1; 
}

.suggestions-list li:hover {
    background: #fffd74;
}  

.suggestions-list2 {
    position: absolute;
    top: 100%; 
    left: 414px; 
    width: 100%; 
    background: white; 
    border: 1px solid #ccc; 
    border-radius: 15px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 100; 
    list-style: none; 
    padding: 0;
    margin: 0;
}
  
.suggestions-list2 li {
    padding: 8px 12px; 
    display: flex;
    border-radius: 15px; 
    align-items: center;
    cursor: pointer; 
    background-color: white;
}

.suggestions-list2 li img {
    width: 32px; 
    height: 32px;
    border-radius: 50%; 
    margin-right: 10px; 
    background-color: lightgray;
}

.suggestions-list2 li span {
    flex: 1; 
}

.suggestions-list2 li:hover {
    background: #fffd74;
} 