@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.home-background {
    background-size: cover;
    background-position: center;
    height: 100vh; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wiki-race-image {
    width: 160px; 
    position: relative;
    top: 0px;
    left: 50%; 
    transform: translateX(-50%); 
}  

.stima-image {
    width: 200px;
    position: relative;
    top: -50px; 
    left: -250px; 
}  

.goblocks-image {
    width: 200px; 
    position: relative;
    top: -40px;
    left: 600px; 
}  

.start-image {
    width: 110px; 
    position: relative;
    top: 70px; 
    left: -850px; 
} 

.end-image {
    width: 72px; 
    position: relative;
    top: 70px; 
    right: 600px;
} 

.search-image {
    width: 130px; 
    position: relative;
    top: 70px; 
    right: 400px; 
} 

.one-image {
    width: 150px; 
    position: absolute;
    top: 253px; 
    right: 360px; 
} 

.many-image {
    width: 150px; 
    position: absolute;
    top: 253px; 
    right: 120px; 
} 

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    left: 930px;
    bottom : 140px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #f8df1d;
    transition: 0.4s;
    border-radius: 50%;
}

.switch input:checked + .slider {
    background-color: #860e0e; 
}

.switch input:checked + .slider:before {
    transform: translateX(26px); 
}

.switch-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: relative;
    top: 60px;
    left: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive;
    z-index: 11;
}

.switch-button img {
    width: 100%;
    height: 80%;
}

.piston-button {
    background: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    position: relative;
    top: -200px;
    right: -610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(169, 0, 0);
    font-size: 18px;
    transition: box-shadow 0.3s ease;
}

.piston-button img {
    width: 180%;
    height: 80%;
}

.bfs-text {
    width: 120px; 
    position: relative;
    top: 520px; 
    left: -550px; 
} 

.ids-text {
    width: 120px; 
    position: relative;
    top: 530px; 
    left: -350px; 
} 

.nav {
    display: flex;
    position: fixed; 
    font-family: 'Pacifico', cursive;
    top: 0; 
    width: 100%;
    left: 0;
    background-color :#841a1e;
    color: rgb(234, 216, 101);
    justify-content: space-between;
    align-items: stretch;
    padding: 0 1rem;
    font-size: 1.5rem; 
    z-index: 1000; 
}

/* Daftar dalam Navbar */
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

/* Link dalam Navbar */
.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

/* Warna saat item aktif atau di-hover */
.nav li:hover {
    background-color: #bab1b1;
}
.nav li.active {
    background-color: #eeeeee;
}

body {
    background-image: url('assets/background.png');
    background-size: cover;
    background-position: center;
}

html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 110vh;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
}

.-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
}

.max-width-container {
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
}

.information-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.button-container {
    background: linear-gradient(to bottom, #a81e23, #841a1e);
    padding: 120px;
    width: 700px;
    height: 70px;
    border-radius: 8px;
    top: 360px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
        inset 0 0 0 15px #841a1e,
        inset 0 0 0 20px rgba(225, 155, 4, 0.946);
}

/* mcqueen-button */
.mcqueen-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 80px;
    height: 80px;
    position: relative;
    top: 380px;
    left: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive;
}

.mcqueen-button img {
    width: 200%;
    height: 200%;
}

/* cruz-button */
.cruz-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 90px;
    height: 80px;
    position: relative;
    top: 307px;
    left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: ci;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive;
}

.cruz-button img {
    width: 200%;
    height: 200%;
}

.button-page-container {
    position: relative;
}

.logic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.start-container {
    position: relative;
    top: -5px;
    left: -145px;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 35px;
    border-radius: 15px; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1rem;
    text-align: center; 
    z-index: 1; 
}

.end-container {
    position: relative;
    top: -22px;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 35px;
    border-radius: 15px; 
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1rem;
    text-align: center; 
    z-index:10;
}

.search-container {
    position: relative;
    top: 33%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.result-container {
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    padding: 100px;
    max-width: 100px;
    min-width: 500px;
    max-height: 100px;
    min-height: 230px;
    z-index: -10;
    border-radius: 8px;
    margin-top: 170px;
    margin-left: 180px;
    margin-right: 160px;
    top: -195px;
    right: -300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
        inset 0 0 0 5px #ffef76,
        inset 0 0 0 10px rgba(146, 17, 17, 0.9);
    color: rgb(0, 0, 0); 
    font-family: 'Comic Sans MS', sans-serif; 
    font-size: 14px; 
}

/* Page How To Use */
.how-to-use-title {
    position: relative;
    top: -150px;
    left: 500px;
    height: 70px;
    width: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.step-container {
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 5rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    position: relative;
    top: -100px;
    left: 700px; 
    width: 350px;
}

.step {
    max-width: 100%; 
    height: auto; 
}

.sally-image {
    position: relative;
    top: 300px;
    left: -150px;
    width: 300px;
    height: auto;
}

/* Page About Us */
.about-us-title {
    position: relative;
    top: -220px;
    left: 570px;
    height: 70px;
    width: auto;
}

.intro {
    text-align: center;
    margin-bottom: 40px;
    margin-top: -230px;
    left: 600px;
    font-family: "Comic Sans MS", cursive;
}

.intro h1 {
    font-size: 1.8rem;
    margin-bottom: 0px;
    color: #e9ebec;
}

.intro p {
    font-size: 0.8rem; 
    color: #860e0e; 
    max-width: 1200px; 
    margin: 0 auto; 
    line-height: 1.5; 
}

.team-image {
    width: 700px; 
    position: relative;
    top: 370px; 
    left: 270px; 
    transform: translateX(-50%); 
}  

.mater-image {
    width: 150px; 
    position: relative;
    top: -200px; 
    left: 70px; 
}  

.text-container {
    max-width: 1200px; 
    margin: 1rem auto; 
    padding: 1rem; 
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.text-container p {
    text-align: justify; 
    line-height: 1.5; 
}

/* List API Wikipedia */
.suggestions-list {
    position: relative;
    top: -5px; 
    left: -275px; 
    width: 262px; 
    background: white; 
    border: 1px solid #ccc; 
    border-radius: 15px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 100; 
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 250px; 
    overflow-y: auto;
}
  
.suggestions-list li {
    padding: 8px 12px; 
    display: flex;
    align-items: center;
    cursor: pointer; 
    background-color: rgb(255, 255, 255);
    border-radius: 15px; 
}

.suggestions-list li img {
    width: 32px; 
    height: 32px;
    border-radius: 50%; 
    margin-right: 10px; 
    background-color: lightgray;
}

.suggestions-list li span {
    flex: 1; 
}

.suggestions-list li:hover {
    background: #fffd74;
}  

.suggestions-list2 {
    position: relative;
    top: -23px; 
    left: -110px; 
    width: 265px; 
    background: white; 
    border: 1px solid #ccc; 
    border-radius: 15px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    z-index: 100; 
    list-style: none; 
    padding: 0;
    margin: 0;
    max-height: 250px; 
    overflow-y: auto;
}
  
.suggestions-list2 li {
    padding: 8px 12px; 
    display: flex;
    border-radius: 15px; 
    align-items: center;
    cursor: pointer; 
    background-color: white;
}

.suggestions-list2 li img {
    width: 32px; 
    height: 32px;
    border-radius: 50%; 
    margin-right: 10px; 
    background-color: lightgray;
}

.suggestions-list2 li span {
    flex: 1; 
}

.suggestions-list2 li:hover {
    background: #fffd74;
} 